.App {
	text-align: center;

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin: auto;
	}
}

.App-link {
	color: #61dafb;
}

ul.link-list {
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding: 0;
	margin: auto;

	li {
		list-style: none;
		padding: 5px;
	}
}

.table-container {
	overflow: auto;
	height: 80vh;
}

table {
	margin: auto;
	padding: 10px;
	width: 95%;

	tbody {
		tr {
			font-size: 18px;

			td {
				padding: 5px;

				img {
					width: 10%;
				}
			}
			&:hover {
				background-color: azure;
				color: #61dafb;
			}
		}
	}
}

.playlist {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 80vh;
	overflow-y: scroll;

	.track {
		width: 50%;
		cursor: pointer;
		padding: 5px;

		display: flex;
		justify-content: space-between;
		align-items: center;

		&:hover {
			color: #61dafb;
		}

		img {
			width: 10%;
		}
	}
}

.pagination {
	padding: 5px;

	.page-button {
		min-width: 30px;
		cursor: pointer;

		&_active {
			background-color: #61dafb;
		}
		&_bordered_left {
			margin-right: 10px;
		}
		&_bordered_right {
			margin-left: 10px;
		}
	}
}
